[2016-03-01 07:28] bruce opened #2 "Update for Absinthe v1.0 notation"

[2016-03-02 06:56] dre1080 opened #3 "Any updates on this?"

[2016-03-02 06:58] bruce commented on #3
This is item numero uno on our [roadmap](http://absinthe-graphql.org/roadmap/), and a critical priority for us -- check back tomorrow night!

[2016-03-02 06:58] #3 closed

[2016-03-05 06:20] #2 closed

[2016-03-08 08:14] bruce opened #5 "Support Connections built from data structures that are not fully materialized"
As is explained here: https://github.com/graphql/graphql-relay-js/commit/238d724a6c14bbda2aff180f839f27e1961930d7

For the initial release we only support the equivalent of `connectionFromArray` -- we need to support a lazy data structure that will allow us to work with databases _without_ loading all the data and simply discarding the parts we don't want. I think we can do this in Elixir more gra

[2016-03-08 18:21] bruce opened #6 "Add facility to pull out internal IDs from cursors"
Similar to `Node.from_global_id`, support a mechanism to parse out internal IDs from cursor values. While the cursors are opaque to the client, IDs may be needed to support accessing data from backends.

[2016-03-16 03:38] #6 closed

[2016-04-01 12:59] gauravtiwari opened #8 "Root Viewer query support"
Hey @bruce

How does root viewer queries are supported in this package? For example: Reading a list of posts from server on index page.

Here is how I am implementing it in a Phoenix app. Looks ok?

[code]
`1. viewer_type.ex`
[code]

`2. viewer.ex`
[code]

`3. schema.ex`
[code]

This is client Client side relay query:

[code]
`query FindPosts{root{...F0}} fragment F0 on Viewer{id,_posts4jOdEP:post

[2016-04-14 17:01] bruce opened #9 "Documentation shows example with `from_list` returning :ok tuple"
Should be:

`{
  :ok,
  Connection.from_list(...)
}`

[2016-04-25 18:00] #9 closed

[2016-04-26 06:48] bruce opened #11 "Support custom connection object types"
To support multiple connections to a node type, we need to support custom connection type names -- to support different properties for connection/edge types:

Something like, eg:

[code]

[code]

[2016-04-26 13:11] austinsmorris commented on #11
Note that the edge type name should be customizable too.  It's the custom edges that have different properties.  But, the custom connection type has to specify the custom edge type.

[2016-04-26 19:44] skosch commented on #8
I just ran into the same error message.

In your case, @gauravtiwari, I think you need to use the `node` prefix macro for (at least) your `post` objects, and add a `node` query (pseudo-)field to allow Absinthe to do the mapping from internal to global id. (Sorry – it's been a month so probably no longer relevant.)

To @bruce & friends, I was only able to see the actual error message (`"No source n

[2016-04-29 18:20] bruce commented on #11
@austinsmorris Custom edges should already be supported inside `edge do ... end`, eg, from the tests:

[code]

The issue here is really addressability -- there's no way (currently) to define multiple connection types (and related edge types) for a node type, or to refer to those connection types when defining a `connection field`. Fixing that now :-)

[2016-04-30 00:18] bruce commented on #11
Resolved by #13, will be released as part of v0.9.0.

[2016-04-30 00:18] #11 closed

[2016-04-30 00:22] bruce commented on #5
Handled in #12

[2016-04-30 00:35] bruce commented on #8
@skosch I agree on the problem with @gauravtiwari (and I'm sorry we didn't respond to this sooner).

Since it's possible that an ID field might exist for an ID fetcher -- but the data may be `nil` -- I think blowing up is a bad idea. (In general, we only raise exceptions 1) at compile time, 2) when we're sure the error is for the schema designer and not the end user. We default to returning standa

[2016-04-30 00:35] #8 closed

[2016-04-30 02:20] skosch opened #14 "absinthe.schema.graphql task complains about ID type"
The schema.graphql is created fine, but the following warning is shown when the Relay node interface is used:

```[warn] Absinthe: Elixir.Absinthe.Adapter.LanguageConventions could not adapt %Absinthe.Language.InterfaceDefinition{fields: [%Absinthe.Language.FieldDefinition{arguments: [], loc: %{start: nil}, name: "id", type: %Absinthe.Language.NonNullType{loc: %{start: nil}, type: %Absinthe.Langua

[2016-04-30 02:34] bruce commented on #14
Moved to https://github.com/absinthe-graphql/absinthe/issues/112

[2016-04-30 02:34] #14 closed

[2016-05-01 02:42] skosch opened #15 "Support outputs containing edge fields"
As far as I can tell, it's not possible at this point to use RANGE_ADD, since the client expects a new edge containing the new node, instead of just the new node itself.

Maybe it's possible to add a new piece of notation, e.g. `edge(:type)` that wraps the final output in `edges { node {...}}` or similar (although I'm not sure how robust that approach would be, especially in light of facebook/rela

[2016-05-01 02:52] skosch opened #16 "Extend automatic global/internal id mapping to mutation input fields"
An oft-repeated pattern in my code:

[code]

followed in the resolver by something like

[code]

It would be great if we could instead define
[code]
... and get access to the whole `item` in the resolver, including its internal id. (Or maybe just a `:global_id` type that gets mapped onto an internal id, and the user can choose to pull the `item`'s data if necessary.)

[2016-05-01 02:56] bruce commented on #15
@skosch Can you give an example of what the resulting GraphQL result needs to look like? I don't understand based on this issue why you can't provide whatever fields you want (including an edge) in a mutation output type. The edge type for a connection is defined as `*_edge`, so, eg:

* `connection node_type: :pet` will give you an edge type, `:pet_edge`
* `connection :my_custom_connection, node_t

[2016-05-01 03:10] skosch commented on #15
Just using `:pet_edge` and returning `%{node: {new_pet}}` works indeed. Thank you :+1:

[2016-05-01 03:10] #15 closed

[2016-05-01 03:14] bruce commented on #16
So I don't think this belongs as a wrapper around the type itself -- for a number of implementation reasons.

A few options:

- We use a macro pattern like we use elsewhere, and have something like `global_id field :id, :item` (this will take a bit to work out, as it amounts to registering a change we need to apply all together before we call your resolver)
- As a workaround in our own code, we us

[2016-05-01 03:23] skosch commented on #16
Whoa, cool. That's certainly an option I would consider. I wonder if that wrapper could be provided by the library?

[2016-05-01 03:30] bruce commented on #16
Yeah, I think so. I think I'd opt for a name like `parsing_node_id`.

[2016-05-01 05:09] bruce commented on #16
@skosch Can you give PR #17 a look, see how that works for you?

[2016-05-01 15:56] skosch commented on #16
Seems to work for me so far. You guys rock. (Now it's just a matter of documenting it.)

[2016-05-01 15:56] #16 closed

[2016-05-01 20:23] skosch opened #18 "More nuanced error message when internal id can't be found"
The error _No source non-global ID value could be fetched from the source object_ (from absinthe_relay/lib/absinthe/relay/node.ex) can mean different things, including
- you forgot to add a matching pattern to `node field`
- you're asking for the id of an associated sub-field, but you've forgotten to call preload before returning a result (`info.source` is `Ecto.Association.NotLoaded`)

... a more

[2016-05-01 20:39] bruce commented on #18
Could also mean (as a generalization of your second):

- The source object doesn't have an `id` field as expected by the default id fetcher

[2016-05-01 20:42] skosch commented on #18
Yep, true! I'd actually be okay if you simply logged the content of `info.source`. That would be enough to nudge me in the right direction as I'm bug hunting.

[2016-05-05 08:28] bruce commented on #5
Resolved in v0.9.0 by `Connection.from_slice` and `Connection.from_query`.

[2016-05-05 08:28] #5 closed

[2016-05-17 21:37] sjchmiela opened #20 "Update mix dependencies"
It is currently not possible to use the latest RC of Ecto 2 (http://blog.plataformatec.com.br/2016/04/ecto-2-0-0-rc-is-out/) and the `absinthe_relay` at the same time. Would be grateful for releasing a new version or just a RC for now…

[2016-05-17 21:43] benwilson512 commented on #20
Can you gist the error you're getting? If it has to do with `:poison` you can simply add `override: true` to the poison dependency line.

[2016-05-17 21:46] sjchmiela commented on #20
Nope, it has to do with `phoenix_ecto`, I'll post the exact error in 10 hours. Thanks for the quick response!

[2016-05-17 21:48] benwilson512 commented on #20
ah. You can just do `override: true`  on that too.

[2016-05-18 14:33] sjchmiela commented on #20
Thanks! Solved the issue with:

[code]

[2016-05-18 14:33] #20 closed

[2016-05-20 10:59] ukasiu commented on #20
Just in case you had the same problem, you have to add `override: true` on `ecto` not `phoenix_ecto`

[2016-05-25 20:13] skosch opened #21 "Node query returns wrong object"
Here's my situation: `Viewer` has a connection `years`; each `Year` has a connection `emails`.

[code]
---
Let's get a year's emails:

[code]
... that's no problem at all:
[code]
Alright, now let's ask for that email node directly by its global id:

[code]
... now this returns
[code]
Wat. It's now returning the year the email belongs to.

Just to be clear, the `Email.find` resolver *is* being call

[2016-05-25 20:51] bruce commented on #21
@skosch Can I see your `node interface do ... end` block?

[2016-05-25 21:01] skosch commented on #21
Ahhhhhh. So much head-scratching, such a silly cause :dizzy_face: ... thanks @wbruce.

For others out there: make sure the resolver in `node interface` doesn't pattern-mismatch, i.e. make extra sure the patterns are unique and/or ordered by specificity in all circumstances and (edge) cases.

[2016-05-25 21:01] #21 closed

[2016-05-25 22:29] bruce commented on #21
Thanks @skosch. In practice, I try to pattern match against the struct type, eg:

[code]

Someday I should update the documentation to reflect that.

[2016-05-26 14:55] skosch commented on #21
That's clever!

In my case `Year` only has a single field `year` (for now). But because of the Ecto association of other objects to a particular `year`, the pattern match on `%{year: _}` simply wasn't unique, and I had to move it to the back of the list to fix my problem. Maybe Absinthe could run all of the declared type structs through the `resolve_type` matcher at compile time and print a warnin

[2016-05-26 14:59] skosch commented on #21
(This kind of "shadowing" edge case, I imagine, is also what keeps you from macro-ing away `resolve_type` altogether by simply matching struct types to type atoms inside of Absinthe.Relay?)

[2016-05-27 03:13] bruce commented on #21
At its core, the reason `resolve_type` is there because the _internal_ representation of a object (eg, a model struct representing a database object) may or may not be the same as the GraphQL-exposed type. The schema designer is, of course, free to impose whatever convention they like. For instance, an example from our own code:

[code]

`OurApp.Model.Node.model_to_node_type/1` looks like this:

[

[2016-07-19 14:33] hisapy opened #25 "Do I need to add absinthe to deps?"
Do I need to add **absinthe** to deps before adding **absinthe_relay**?

[2016-07-19 14:40] benwilson512 commented on #25
Nope, absinthe_relay has absinthe as a dependency, so absinthe is already added. You can see the list of a library's dependencies on hex: https://hex.pm/packages/absinthe_relay

[2016-07-19 14:40] #25 closed

[2016-07-19 14:57] hisapy commented on #25
Thanks for the quick response

[2016-08-02 15:05] bart-j opened #26 "Default value for pagination"
When not including pagination variables  in the GraphQL query, Absinthe throws an exception:

**Code**

[code]

**GraphQL query**

[code]

**Exception**

[code]

When running the query including pagination parameters the query resolves just fine:

[code]

Maybe it is a good idea to include a default _first_ parameter, e.g. first 10. Would like to submit a pull request for that but I can use some d

[2016-08-17 00:54] stavro opened #27 "Pluggable / Extendable Global IDs"
I have a pretty extensive use case that I'm battling with where I need to use global ids that are more than a combination of `type` and `id` (specifically, they include shard-resolvable information for a multi-tenant environment).

It doesn't look like I can customize this global id currently.  Would love to see a more extensible approach! Let me know your thoughts and I'll see if I can help.

Tha

[2016-08-17 01:30] bruce commented on #27
@stavro That's an interesting problem -- I think it's surmountable. I'll try fiddling with an approach this evening to see if I can find a decent, general-purpose solution.

[2016-08-17 05:06] bruce commented on #27
@stavro My proposal:

We define a new behaviour, `Absinthe.Relay.Node.Registry` which defines the callbacks for `to_global_id/2` and `from_global_id/2`. A new module, `Absinthe.Relay.Node.Registry.Default`, adopts that behaviour and defines the current implementation. It is used as the default registry.

When defining your node interface, you can override the registry by passing an option:

[code]

[2016-08-17 17:49] stavro commented on #27
Hmm... If you're thinking that `to_global_id/2` will have `(type, id)` as arguments, then I'm not sure it's flexible enough for what I need.

I'd like to really replace all of this logic (as well as the reverse operation): https://github.com/absinthe-graphql/absinthe_relay/blob/master/lib/absinthe/relay/node.ex#L224-L234

However:  I might be able to make it work by using the `id_fetcher` logic yo

[2016-08-17 18:39] bruce commented on #27
@stavro Sorry, no, you'd get the object (source) in addition to the type name, and the return value from from_global_id would also be more flexible. global_id_resolver (and a few other places) would be modified to suit, but I'd rather not force the registry to have to duplicate the error handling logic there.

It would help if you gave a specific example of where you'd get the information needed t

[2016-08-19 03:04] bruce commented on #27
Update: I'm currently working on this, and should have a PR out shortly to discuss.

[2016-08-24 20:53] skosch opened #28 "Provide plug that accepts batched queries"
As per Slack discussion with @benwilson512, I'd like to suggest that Absinthe should accept arrays of queries in the style of:

[code]

The results should mirror this structure, as noted in the README of https://github.com/nodkz/react-relay-network-layer. The new plug can be documented as a solution to facebook/relay#724, when used in combination with react-relay-network-layer.

[2016-08-25 21:57] tlvenn commented on #28
On a side note, Transport-level batching (what you are implementing now) will be supported by Apollo Client as well very soon. So this will be useful beyond Relay.

[2016-08-25 22:06] skosch commented on #28
That's an interesting note, thanks! Maaaybe that means this shouldn't necessarily be part of the Absinthe.Relay package then, but instead an extension of Absinthe.Plug after all? This came up on Slack yesterday with @benwilson512 as well – what do you think?

[2016-08-25 22:12] tlvenn commented on #28
This is currently tracked there: https://github.com/apollostack/apollo-client/issues/505
And indeed, probably worth pulling this outside of Absinthe_Relay.

[2016-08-25 23:05] benwilson512 commented on #28
Noted, let's do that. Presumably it's the same structure as Relay?

[2016-08-26 22:02] hisapy opened #30 "Question about RANGE_ADD mutation_type"
In the Star Wars Relay example, there is an  [AddShipMutation](https://github.com/iporaitech/pwr2-docker/blob/master/web/static/js/star_wars/mutation/AddShipMutation.js) which has the following config

[code]

**Notice that `RANGE_ADD` needs to be specified with an `edgeName`**

The schema.js in the example [imports cursorFromObjectInConnection() from graphql-relay](https://github.com/relayjs/rela

[2016-08-26 22:30] hisapy opened #31 "Return all edges in connection (Connection.from_list/3)"
Currently, when you call Connection.from_list without pagination args, it fails with the error

[code]
You can reproduce the error with a query like the following.

[code]

However everything works if you pass pagination args as in:

[code]

Do you think we can change the behaviour of the `Connection.from_list` to return all edges in the connection if no pagination args are specified ?

[2016-09-07 08:43] sjchmiela opened #32 "hasNextPage lies"
[Implemented way of checking for `hasNextPage` value](https://github.com/absinthe-graphql/absinthe_relay/blob/e48ac8693c54f71bbcacabbda0f81caa43c5c6da/lib/absinthe/relay/connection.ex#L344) is wrong when the number of edges in a connection is divisible by the limit value.

[code]

Imagine a connection with 30 records, we will paginate them by 10.
1. We see records 1...10, `hasNextPage: !(30 < 10)

[2016-09-09 08:51] sjchmiela commented on #31
No, we (or “they” for that matter) cannot, because it would violate [GraphQL Connection Spec](https://facebook.github.io/relay/graphql/connections.htm#sec-Arguments), stating that:

…and the `ships` field returns a Connection Type.

An alternative would be to leave the Connection Type and just return a `list_of(:ship)` without arguments or to specify both (`shipsConnection` and `ships`).

[2016-09-09 09:08] sjchmiela commented on #26
#31

[2016-09-09 10:18] sjchmiela opened #33 "`BadMapError` when using `parsing_node_ids` with ID of bad type"
When using `parsing_node_ids` to parse ID of a type that wasn't expected the result sent to user isn't `"Invalid node type for argument #{key}; should be #{type}, was #{bad_type}"`, but `500: BadMapError`.
### Example

With following mutation

[code]

We can make a GraphQL request:

[code]

Which will result in getting Phoenix 500 HTML error page “BadMapError at POST” instead of GraphQL error ”Inv

[2016-09-09 15:29] hisapy commented on #31
Ok thanks for the explanation @sjchmiela ... It makes sense ... I think it'll be ok to close this issue then, unless there's another opinion out there.

[2016-09-09 22:34] austinsmorris commented on #27
Any update on this?  Anything I can help with?

[2016-09-11 07:15] bruce commented on #32
Thanks @sjchmiela -- good investigation. Would love a PR if you have the time to put one together.

[2016-09-11 07:15] #31 closed

[2016-09-11 07:20] bruce commented on #27
Sorry, I had to temporary pause on work here for various reasons -- to include ElixirConf and our focus on Absinthe 1.2, which is a complete rework of the validation and execution phases to support subscriptions, etc, -- and I lost my prototyping branch for this feature during a laptop wipe -- _groan_

We'll be out with the alpha for the new Absinthe release shortly; in the meantime if someone wan

[2016-11-01 03:59] redjohn opened #35 "Boolean fields in a mutation's input type are dropped when false"
I'm working on a project where we want to supply a boolean value as a field on a mutation's input type, for example:

[code]

With the Absinthe v1.2 branch (and the corresponding branch for Absinthe Relay), if the supplied value for `admin` is `false`, it gets dropped from the `args` before it gets to the resolver. I've set up an example Phoenix app to illustrat the issue. This is what is logged:

[2016-11-01 06:43] bruce commented on #35
Thanks @redjohn -- we'll look into this. My guess (without looking) is it's due to some change in the way we wrap resolvers for Relay (that is, that your intuition is correct).

Pinging @benwilson512 on this as well, since this effectively blocks release of v1.2 for Relay support.

[2016-11-01 11:19] benwilson512 commented on #35
You're the best person on earth for making such thorough test cases! I'm investigating now :)

[2016-11-01 11:36] benwilson512 commented on #35
Found the issue. It wasn't relay specific, but it was specific to input objects, which was used in the relay case and not the other cases. Basically, I was trying to filter out `nil` inputs by doing

[code]

Whoops.

Now it's
[code]

Will have a fix pushed shortly, thanks!

[2016-11-01 14:11] benwilson512 commented on #35
This is fixed on the v1.2 branch of absinthe. It'll be included in the v1.2 release later today.

Thank you!

[2016-11-01 14:11] #35 closed

[2016-11-01 16:14] redjohn commented on #35
Thanks for the quick response guys :)

[2016-11-01 22:57] benwilson512 commented on #32
This should be fixed by the merged PR.

[2016-11-01 22:57] #32 closed

[2016-11-27 18:36] bruce commented on #28
Closing this; moved to absinthe_plug. See absinthe-graphql/absinthe_plug#34 for current details.

[2016-11-27 18:36] #28 closed

[2016-11-27 20:48] panayi commented on #30
In your [example](https://github.com/iporaitech/pwr2-docker/blob/master/web/graphql/star-wars/mutations.ex#L38), couldn't you do:

[code]

[2016-11-28 12:46] hisapy commented on #30
Maybe yes @panayi ... at the moment I was writing the example I believe I didn't know about the function `Connection.offset_to_cursor`.

Anyway, the idea, based on the Javascript implementation is to return the cursor for the recently added object and thus, I _believe_ your latter suggestion seems more appropriate in case someone else is adding ships to a faction.

[2016-12-09 00:01] dpehrson opened #40 "Attempting to declare a connection field on an interface results in an error"
## Use case

Multiple node objects in my schema can be commented on, they should share a `comments` field which is relay connection of `comment` nodes and a declared interface to allow for polymorphic querying.

## Expected results

I should be able to declare an interface with a field that is a relay connection interface for querying as such:

[code]

## Actual results

Errors 😭

[code]

[2017-01-12 22:41] Valentin-Seehausen opened #43 "Should warn or throw error when using object where input_object should be used"
Regarding to slack channel.

[2017-01-19 11:28] leighshepperson opened #45 "Splitting up mutations"
I'm creating quite a few large mutations and I want to split the input and output of a mutation into different modules.

My approach is something like this:

[code]

[code]

To get it working, I've just had to add the `client mutation id` to the input object.

Is this good enough - or will it be missing something important.

Or - is there a better way to do this?

Ideally, there would be something

[2017-01-27 15:28] hisapy commented on #30
Hello again.

I have some more questions regarding `RANGE_ADD` mutation. Suppose I have the following mutation in Relay

[code]

I'm trying to understand the following:

a. How do we know the page info to be used to return the Club's membersConnection in the mutation?. For example, `Connection.from_query` needs some page info like `first: 10` to know what "page" to return.
b. Supposing I figured o

[2017-01-30 19:22] leobessa commented on #27
Hey @bruce, can you update me on this issue? Is anyone working on it?

I'd be glad to work on a PR, but I might need some guidance.

[2017-01-31 07:01] bruce commented on #27
I'm afraid not; unfortunately as we don't use Relay day-to-day, it's fallen out of the critical path a bit. If you'd like to take it on, we'd be happy to help point you in the right direction. We're pretty active in the #absinthe-graphql elixirlang Slack channel during US hours; that's probably the best way to talk through things -- and it will put you into contact with other people that are using

[2017-03-22 08:59] zipme opened #48 "Add totalCount field to connections"
How do you add total_count info to the connection?

I am stuck here

[code]

And here is the resolver:

[code]

Thanks!

[2017-03-27 19:36] dpehrson opened #49 "parsing_node_ids blows up when a non-last node id in a list of passed node ids fails to parse"
Given a resolver using `parsing_node_ids` for multiple args as such:

`resolve parsing_node_ids(&my_resolver/2, id1: :foo, id2: foo)`

If any of the non-last arguments (here, `id1`) fail to parse an exception is thrown:

`** (BadMapError) expected a map, got: {:error, "Invalid node type for argument id1; should be foo, was other_foo"}`

I believe this is because the value of the `args` variable in

[2017-03-27 19:36] dpehrson commented on #49
Unfortunately I am not clear as to what the intended behavior of `parsing_node_ids` is in these situations so I am not totally sure what the fix would be.

[2017-03-28 09:21] bruce commented on #49
Fix released in v1.3.0-beta.1; your test coverage aided significantly (I cherry-picked it in). Thanks!

[2017-03-28 09:21] #49 closed

[2017-03-28 09:22] #33 closed

[2017-03-28 09:23] bruce commented on #48
See the example here: https://gist.github.com/bruce/52b1528af5ce446eb24eae3cd32b6af7

Thanks!

[2017-03-28 09:23] #48 closed

[2017-04-06 04:21] diegonogueira opened #53 "Use Absinthe.Relay.Node.ParseIDs with input_object"
Is there any way to use Absinthe.Relay.Node.ParseIDs with input_object? How to convert (id, type_id) from global_id.

[code]

Thanks

[2017-04-06 04:23] diegonogueira commented on #53
I'm using v1.3 branch. :)

[2017-04-06 06:39] bruce commented on #53
There isn't currently. You could probably make your own middleware based on it, and support complex keys (eg, using update_in).

Otherwise you'll have to manually pull the values out in your resolvers and use the normal conversion functions.

[2017-04-06 06:39] #53 closed

[2017-04-07 05:23] bruce commented on #26
So, I don't think a default makes sense here, but better error reporting (if `last` or `first` is not provided) is.

[2017-04-07 05:23] #26 closed

[2017-04-19 02:30] avitex opened #55 "`clientMutationId` as an optional feature?"
From what I can see, apollo-client does not require `clientMutationId`, making it a pretty redundant field.
A potential fix for this would be to provide, in the initial absinthe config, a switch to disable it for the clients that don't need it.

I'm happy to craft a PR after discussion. Any thoughts?

[2017-04-19 03:15] benwilson512 commented on #55
This is something of a difficult question. On the one hand, many people using apollo do still use some of the conventions from relay, and thus this library to assist with that. On the other hand, I am inclined to think that trying to make this library support BOTH whatever conventions Relay comes up with as well as Apollo is likely to make it bad at both.

Trying to make a separate Absinthe.Apollo

[2017-04-19 04:53] bruce commented on #55
My opinion: this package is here to support Relay's quirks, and should enforce Relay's constraints. Apollo doesn't really have constraints (at this point) or strongly conventional practices for, eg, mutations (at least that I've seen) that would warrant a separate "official" Absinthe package.

If someone wants a _close to_ absinthe_relay mechanism for building mutations, pulling out the associated

[2017-04-19 06:13] tlvenn commented on #55
Ya I agree with @bruce but I understand the dilemna of having a separate Absinthe.Apollo lib with the code duplication it will create. Would it be possible to push the common area into one helper lib that Absinthe.Relay and Absinthe.Apollo would use to compose their own helpers ?

If this is of any help, i have a fork of absinthe_relay without clientMutationId and optional input as well which is a

[2017-04-19 06:35] tlvenn commented on #55
I have updated my fork to the latest on master and cherry picked my 2 commits

[2017-04-19 07:20] bruce commented on #55
Some background here, for those interested -- it probably makes sense to capture a bit of what I've been thinking with regard to schema features/patterns that go beyond the specification and framework constraints, and how I think Absinthe (as a project) should look at them.  (@benwilson512 may disagree with me; these are just my words, and I apologize up front for my verbosity.)

The thing that dr

[2017-04-19 08:09] avitex commented on #55
Very valid points @bruce. I thought there would be quite a lot of room for discussion with this particular problem, hence why I didn't make a PR for it initially.

A lot of what absinthe_relay provides is pretty useful outside of the 'react/relay' ecosystem.
Apollo is pretty unopinionated, a clear example of that is pagination with `fetchMore`, though I like the conventions relay provides. I perso

[2017-04-19 23:42] #55 closed

[2017-05-11 11:51] benwilson512 commented on #43
This has been handled in Absinthe master, will be released in 1.3.1

[2017-05-11 11:51] #43 closed

[2017-05-19 15:07] jsteiner opened #56 "Parsing nested ids"
Absinthe currently has the `ParseIDs` middleware, which converts ids for the top level object. It would be nice to have an easy way to parse the ids of nested objects as well. For example if you had

[code]

It would parse the id of `foo`, `baz` and all the `bars` (assuming it's a has_many).

[2017-05-19 15:37] benwilson512 commented on #56
Just so we're clear, this is talking about inputs right? So it'd look like:
[code]

[2017-05-19 15:48] jsteiner commented on #56
@benwilson512 yep, sorry, should have made that more clear (I'm still pretty new to GraphQL). Do you think something like this makes sense as an API?

[code]

Basically, it would do something similar to what it does now, but in the case that the value is another keyword list it would recurse.

[2017-05-19 15:50] benwilson512 commented on #56
Yup, that seems like the right way to go!

[2017-05-24 05:44] bruce commented on #45
Sorry about the (very) late reply on this. Before I close this, let me point to an example using macros to build up patterns -- it might serve as a useful tool to generate some of the boilerplate here. (Note that I think the use of `import_fields` is fine.)

This example illustrates how to build enum values from an external definition, but it's still a useful illustration:
https://gist.github.com/

[2017-05-24 05:44] #45 closed

[2017-05-24 05:46] bruce commented on #30
I'm closing this as stale / out of scope, as it's really more a question about Relay's JS side (and questions like this are probably better addressed in Slack).

[2017-05-24 05:46] #30 closed

[2017-05-24 05:47] bruce commented on #27
Closing this as stale. If someone wants to pick it up, we're happy to review a PR.

[2017-05-24 05:47] #27 closed

[2017-05-28 20:24] benwilson512 commented on #56
Handled in master

[2017-05-28 20:24] #56 closed

[2017-06-23 23:17] ssbb opened #59 "ParseIDs should accept a list of ids"
Example usage:

[code]

Gives an error:

[code]

[2017-06-26 08:35] bruce commented on #59
I'm currently working on a refactor branch that will support this feature.

[2017-06-30 13:52] thaterikperson opened #60 "Incorrect documentation around connection definitions?"
I'm not sure if this is just incorrect documentation or a larger error at [connection.ex#L52](https://github.com/absinthe-graphql/absinthe_relay/blob/6a2fcda17a4360ddb2e78811c6eb59e8167b9bca/lib/absinthe/relay/connection.ex#L52).

The resolve function returns `{:ok, connection}` but that gives me the following `BadMapError`.

[code]

If I return the connection only instead of the tuple, the error

[2017-06-30 14:12] benwilson512 commented on #60
Ah yes, the documented example is out of date. It used to be accurate but was not corrected when some of the Absinthe.Relay code was updated.

[2017-06-30 14:33] thaterikperson commented on #60
If its only the documentation that need to be updated, I'm happy to submit a PR for it.

[2017-06-30 14:37] benwilson512 commented on #60
Please feel free!

[2017-06-30 17:01] #60 closed

[2017-07-17 14:53] timCF opened #64 "compile error in umbrella project"
Permanently get compilation error when trying to use `absinthe_relay` in umbrella project.

[code]

I'm using this configuration in `mix.exs`
[code]
`mix.lock` of umbrella project looks like
[code]

[2017-07-17 14:54] benwilson512 commented on #64
It looks like ecto is in your mix.lock file but it isn't in your mix.exs file.

[2017-07-18 07:19] timCF commented on #64
I tried to add `ecto` to mix.exs, the same error. If I clone `absinthe_relay ` git repo and compile it - no errors. This error reproduced only if `absinthe_relay` is dependency of app in `umbrella` project.

[2017-07-18 07:35] timCF commented on #64
Is Ecto version `1.0.7` ok for using with absinthe_relay?
Compiler gives no warnings about it.. but maybe Ecto version here is a problem?

[2017-07-18 07:55] timCF commented on #64
This way if fixed for Ecto 1.0.7
https://github.com/timCF/absinthe_relay/commit/57bb0e64d12ec30cbb89eb21b25b0d636bf7166a#diff-f065aec4038705e1285dc1e625f387c9
Anyway, all tests pass ok.

[2017-08-11 09:57] konradkalita opened #67 "has_next_page: Incorrectly returns true when limit is equal to list size"
When you query for connection resource and list result has the same size as limit field `hasNextSize` in `pageInfo`  is true.

I think this line should be
`has_next_page: args[:first] != nil && length(records) > limit`
https://github.com/absinthe-graphql/absinthe_relay/blob/29349887df8943a8cd73f70f7690d4f45b600003/lib/absinthe/relay/connection.ex#L339

[2017-08-12 21:52] Un3qual opened #68 "Add middleware to specific node fields"
How do I add middleware to specific resolvers? For example, if I have
[code]
I could add it above `resolve fn`, but then it would apply to all of the resolvers.

[2017-08-13 01:32] Un3qual commented on #68
I'm an idiot. So sorry for wasting your time. I just didn't understand how this was supposed to work. 😢

[2017-08-13 01:32] #68 closed

[2017-08-13 01:35] bruce commented on #68
It's far more likely that the documentation is unclear and we can do better! Did you figure out the problem?

Also, worth noting we're usually available in the #absinthe-graphql Slack channel if you want to dig into questions.

[2017-08-13 01:38] Un3qual commented on #68
@bruce The documentation has worked great for me so far. My issue here was that I didn't understand what a node was with respect to relay.

[2017-08-20 21:42] skosch opened #72 "ParseID middleware defined directly on mutation doesn't find the schema_node anymore"
Error: `In field \"updateParentLocalMiddleware\": Could not find schema_node for parent`

Try this in the test:

[code]
and call it the same way
[code]

[2017-08-20 22:00] benwilson512 commented on #72
I think the issue in this case is that you're leaving out a layer, which is the outermost `input: ` arg, see this test case.

[2017-08-21 01:53] #72 closed

[2017-08-21 18:58] bruce commented on #59
This feature was added in v1.3.3.

[2017-08-21 18:58] #59 closed

[2017-08-22 05:00] bruce commented on #64
@benwilson512 Can you give this a look again?

[2017-08-22 05:45] #67 closed

[2017-08-22 07:30] #18 closed

[2017-08-22 17:35] ssomnoremac opened #78 "Allow null for after argument"
Using Absinthe 1.4.0-beta.3 A-relay 1.3.4

Passing null for the after arg is apparently how the latest Relay Modern spec says is how to handle initial calls.

    shifts(first:10, after: null)

However, this is breaking
[code]

Removing the after arg the query works

[2017-08-22 17:42] bruce commented on #78
So fixing this will require we peg the `absinthe` dependency at `~> 1.4.0`, as it's the release that supports null literals.

That's scheduled for stable release on or around ElixirConf, in conjunction with the subscriptions code that @benwilson512 is polishing.

As such, a fix for this will probably get folded into _this_ package's v1.4, which I'm working on in the `next` branch / PR #75. I'll tr

[2017-08-23 20:51] benwilson512 commented on #64
I think we need to just drop support for Ecto 1.0, there isn't any compatible syntax here. Ecto 1.0 requires `limit(limit)` and Ecto 2.0 requires `limit(^limit)`

[2017-08-26 03:16] kyasu1 commented on #67
Hi thank you for the great libs :-)

After this modification, the `has_next_page` never become true, because `length(records)` is always less than or equal to `limit`, as the query indicates. To solve the both problems, probably we need to naively count the total records and compare it with `(offset + limit)` as done in `from_list`.

[2017-08-26 06:03] bruce commented on #67
@kyasu1 ugh, yes. We'll take a look at this tomorrow morning. Thanks for pointing this out.

[2017-08-26 14:09] benwilson512 commented on #67
The downside with doing a count is that we have now to do 2 db queries. My inclination here is to grab `limit + 1` records out of the DB, then use `length(records) > limit`, but then only return `Enum.take(rows, limit)`.

Thoughts?

[2017-08-26 15:51] kyasu1 commented on #67
@benwilson512 Yea agree with you, less query is always better. I tried your solution in my project and it solved the problem, it is neat. Please take a look at the pull request.

[2017-09-22 22:31] olafura opened #81 "Ecto in mix is an older version"

[2017-09-28 21:51] diegonogueira opened #82 "Allow null on ParseIDs"
Using absinthe 1.4.0-rc.2 and absinthe_relay 1.3.

ParseIDs does not accept nil values. Maybe, it should ignore decode from nil values...

[code]

thanks,

[2017-09-28 22:01] benwilson512 commented on #81
It allows newer versions, so this isn't an issue.

[2017-09-28 22:01] #81 closed

[2017-09-28 22:02] benwilson512 commented on #82
Similar to https://github.com/absinthe-graphql/absinthe_relay/issues/78

[2017-10-09 21:02] dpehrson opened #83 "node field resolution errors when schema-level middleware puts an error result in"
I was attempting to apply a schema-wide middleware that would restrict access to all mutations/query fields by default, white-listing only certain ones to non-authenticated/administrative users.

The middleware in question looks like this:

[code]

I attempted to configure the middleware at the schema level to only allow non-admins to do the following:

- Query only this portion of the graph: `que

[2017-10-11 13:57] dpehrson commented on #83
This morning I was able to reduce this to it's essence. The following is the minimum schema required to trigger this bug:

[code]

[2017-10-12 22:23] benwilson512 commented on #83
Thanks! I'll take a look at it as soon as I can.

[2017-10-13 00:41] dpehrson commented on #83
@benwilson512 np, I'll be gone until Tuesday for a family thing, but if you haven't solved it by then I'll try to get a PR up with at least a failing test and ideally a solution.

[2017-10-16 05:35] avitex opened #85 "Consider `Base.url_(de/en)code64` with `padding: false` for Global IDs"
Using IDs in URLs is a common feature with sites, so ensuring they are URL safe is fairly important.

The standard library provides [url_encode64/2](https://hexdocs.pm/elixir/Base.html#url_encode64/2) and [url_decode64/2](https://hexdocs.pm/elixir/Base.html#url_decode64/2) with this case in mind.

I would also suggest that padding be disabled, as it's use in this context does not make much sense.

[2017-10-16 11:47] benwilson512 commented on #85
Seems reasonable to me, @bruce thoughts?

[2017-10-16 14:29] bruce commented on #85
This should mirror Relay’s implementation by default, so if Relay’s Node implementation uses padding, this will need to be a be a configurable option rather than a hard coded one.

Otherwise, go for it.

[2017-10-16 23:25] avitex commented on #85
After sleeping on the idea, my personal opinion is that the method of generating global IDs should be overridable.

Node IDs don't have a specification in terms of how you generate them, only that they be **treated as opaque keys on the client side** and be globally unique. Base64 is the general convention used in examples, [as it reminds developers that that the key should be treated as such, in

[2017-10-16 23:37] bruce commented on #85
This has long been an idea, and we’d love to see it.

And agreed on what’s specified; I just want to make sure the “out of the box” experience matches what JavaScript developers coming from a isomorphic JS experience will expect, as that is a primary adoption path at the moment.

[2017-10-17 00:58] avitex commented on #85
Thinking about implementation, I'm torn on where to place the configuration.
Ideally this should be a per schema option and not to the degree where you have to reference the ID translator everywhere.

## Implementation Proposal

### Node ID Translator
`Absinthe.Relay.Node.IDTranslator` defines a behavior with the methods `object_from_id/?` and `id_from_object/?`.

`Absinthe.Relay.Node.IDTranslator

[2017-10-17 15:09] jparise commented on #85
I think I'd go the Schema route. This level of configuration is more tightly coupled to the representation of the API than, say, a pluggable JSON module, which is an implementation detail. The latter is what I tend to customize via application configuration.

And if someone really needed to configure `global_id_translator` on a per-environment basis, that would still be possible using `Application

[2017-10-17 16:03] bruce commented on #85
My understanding is that this wouldn't work if they were packaging this up at release, though, since this would be a compile-time configuration (ie, if the `get_env/3` was used right there in option passed to `use`).

I don't see any reason not to support both methods here, I can see clear purposes and configuration patterns for each (although I don't see a need for the `:schema` namespacing in th

[2017-10-17 16:57] jparise commented on #85
Totally agree. My `get_env/3` comment was more about customizing the innards of the translator implementation, not making the translator swappable, but I should have been clearer.

[2017-10-18 04:21] avitex commented on #85
My line of thinking was similar to @jparise's in respect to mix config.
If the developer wished to configure on a per environment basis they could themselves with `get_env/3`.

An additional point not I did not initially mention was that customization in absinthe_relay so far is inlined. _Perhaps an apples and oranges comparison but an example of this is the classic/modern switch in the 1.4 branch

[2017-10-18 22:58] #83 closed

[2017-10-19 00:58] benwilson512 commented on #64
Master only handles Ecto 2.0

[2017-10-19 00:58] #64 closed

[2017-10-24 00:03] dpehrson commented on #40
I originally reported this so long ago that I imagine a lot has changed about the library since then.

This only came up for me during a proof-of-concept testing phase and I never ended up actually having to use it so I never bothered trying to fix it like with other issues.

@benwilson512 and @bruce are super responsive to issues if you can help narrow down the error case. Check out #83 for an ex

[2017-10-24 00:27] benwilson512 commented on #40
This is somewhere between a bug fix and a feature request. We mostly just need to make the `connection` macro know about interfaces.

[2017-10-26 17:30] AlexanderEkdahl commented on #40
I may take a stab at this. Until then you can do:

[code]

[2017-10-30 05:07] #78 closed

[2017-10-30 07:01] #82 closed

[2017-10-30 07:33] bruce commented on #85
I'd like to see both supported if you'd still like to move forward on this @avitex. I think it's best to continue the discussion around code vs in the abstract. Do you have enough to take a stab at it?

[2017-10-31 07:53] avitex commented on #85
I believe I do. Will be able to look at working on this in the next day or two.

[2017-11-02 06:58] tlvenn commented on #85
Just wanted to share how I hope to leverage this feature. In my system, all IDs are unique by default however 99% of them are 64bits integers (snowflake variant) which are simply casted to strings.

This is not much of a concern as far as transport is concerned although it could help a tiny bit but the client is building a normalised cache out of those ids and they could be packed using an higher

[2017-11-20 23:07] avitex opened #95 "`Could not find schema_node for x` when using ParseIDs in payloads (v1.4, modern)"
Relay version: `1.4.0`
Relay Schema Flavor: `Modern`

On querying, the below code fails with `Could not find schema_node for foo_id`.
[code]

Not 100% sure if the correct solution, but ensuring `__parse_ids_root` is set to `:input` (after [this line](https://github.com/absinthe-graphql/absinthe_relay/blob/75b4629187308f6a5b09a31c0cb19a6b19cb05b6/lib/absinthe/relay/mutation.ex#L26)) solves this iss

[2017-11-20 23:49] bruce commented on #95
@avitex I'm inclined to think you're right about this; it looks like the root setting was thrown out with the client mutation ID, and it shouldn't have been. Please PR and I'll review.

[2017-11-22 05:21] avitex opened #97 "Error with schemas defined via macro with modern payloads"
Based on [this comment](https://github.com/absinthe-graphql/absinthe_relay/pull/96#issuecomment-345876683).

With this macro
[code]
And this definition
[code]
This query
[code]
Fails with

[code]

[2017-11-22 07:46] bruce commented on #97
@avitex To clarify, is this only present with the changes in #96?

[2017-11-22 08:00] avitex commented on #97
Nope, this is with master. I only discovered it while I was working on refactoring the tests in that PR.
Note that PR can be merged the solution with the test works, once this this issue is resolved I'll continue refactoring the tests.

[2017-11-22 08:06] #95 closed

[2017-12-04 07:53] tlvenn opened #98 "Support for meta when using the payload macro"
Absinthe lets us define some meta on pretty much any types but it does not seem like this is supported with the payload macro.

Example:

[code]

[2017-12-04 16:08] tlvenn commented on #98
Hi @bruce, since I am not super comfortable with macros, I dont feel like meddling with your code. Any chance you could have a look ? Thanks in advance !

[2017-12-04 17:10] bruce commented on #98
Sure, I’ll try to give this a look today.

[2017-12-05 01:45] tlvenn commented on #98
Thanks a lot in advance @bruce !

[2017-12-05 04:24] bruce commented on #98
The macro is `meta/2`, so you need to pass the key and value vs a keyword list. (One of the great pains in the macro approach as its currently implemented how hard it is to catch even wrong-arity use, something we're going to endeavor to fix.)

FWIW, this seems to work fine for me:

[code]

I see `{:meta, [foo: 5]}` in the `%Absinthe.Type.Field{}`'s `:__private__` storage.

If you still see the is

[2017-12-05 04:24] #98 closed

[2017-12-05 06:28] tlvenn commented on #98
Haa I guess when I tried I didnt use the correct arity and then assumed that the payload macro was messing with it somehow.

How can I attach meta to the field input macro in the input, should I just use the `do end` syntax and place the meta inside ?

[2017-12-05 19:21] tlvenn commented on #98
@bruce , do you think it would be possible to define a meta inline at the field level without opening a `do end` block ?

Something like this:

[code]

[2017-12-05 19:26] bruce commented on #98
I’m sure it’s possible given a little work. You’d want to support a keyword list, likely. (Similarly, the meta macro could be modified to accept a keyword list).

[2017-12-13 03:30] Un3qual opened #100 "Use with Dataloader?"
How would I used Dataloader with absinthe_relay. Specifically, without `dataloader` I might return
[code]
But with `dataloader` I need to return a `Dataloader.load_many` or `Dataloader.load`, but if I do that, it will not be formatted as relay requires with `nodes`, `edges`, `cursors`, etc.

(note: `Connection.from_query` is modified from the one provided by `absinthe_relay` hence the extra argume

[2017-12-13 04:15] Un3qual commented on #100
Whoops. Just found out about `on_load`.

[2017-12-13 04:15] #100 closed

[2017-12-17 20:01] strattadb opened #101 "Access information from parent node in custom edge resolver"
Hi! I have an `Organization` type that has a field `members`, which is a connection of `User`, but with a custom edge type. The custom edge type has a `role` field, apart from the standard `node` field.

This is the query I would like to perform:

[code]

And this is my current connection type definition:

[code]

I need the `organization_id` inside the resolver function of the edge, but I couldn'

[2018-01-04 14:23] Anber commented on #100
Hi @Un3qual
How you solve this problem? `Connection.from_query` wants a query, but `on_load` has already loaded data.

[2018-01-14 22:57] Meshu commented on #100
Hi @Un3qual
I would be interested to know more about how you approached this too !

[2018-01-15 00:42] benwilson512 commented on #100
There is not any way to use dataloader with relay from connection at this time, for the same reason that it wasn't possible with absinthe_ecto. The only way to generate sensible SQL is via a window fu function or lateral joins, neither of which are well supported by Ecto yet.

[2018-01-16 22:27] Un3qual commented on #100
@benwilson512 is right. I had to fork dataloader and do some really hacky stuff and even then, I abandoned it because it's a major PITA.

[2018-01-16 23:22] bruce commented on #100
Is there an Ecto issue we can link to here for people? This is going to be a recurring question until it’s addressed there.

[2018-02-09 16:58] gottfrois commented on #48
Great thx ! Have you consider adding this into the documentation?

[2018-02-09 17:24] benwilson512 commented on #48
PR welcome!

[2018-02-12 15:46] chengyin opened #104 "Use connection with subscriptions"
I'm seeking for some suggestions on how to use connections with subscriptions. I'm using Apollo as the client, but I do not think Relay (modern) behaviors differently on this topic.

We have a `Notification` type and with that we generated `NotificationConnection` and `NotificationEdge` types. On `User` object there is `notifications` field that utilizes `NotificationConnection` type for paginatio

[2018-02-22 12:39] ggcampinho opened #106 "Incosistency on Connection.offset/1"
### Current behavior

When the pagination is `:forward` the offset is changed, but when the pagination is `:backward` the offset remains the same of the request. Ex:

[code]

### Expected behavior

[code]

Internally the calculation actually happens at https://github.com/absinthe-graphql/absinthe_relay/blob/master/lib/absinthe/relay/connection.ex#L279, but it seems to me that the method is behavin

[2018-03-05 03:48] davidye opened #107 "Connection and edge types non_null?"
Is it possible to make connection and edge types generated from:

`connection node_type: :pet`

Be wrapped with Non-Null?

This would be useful because relay-compiler now generates flow types automatically so using connections can be type checked without having to:

[code]

Thanks!

[2018-03-05 16:25] matteosister opened #108 "issue with has_previous_page"
I think I found a little problem in the logic of has_previous_page parameter while using it with an ecto query.

[in this line](https://github.com/absinthe-graphql/absinthe_relay/blob/master/lib/absinthe/relay/connection.ex#L391) the parameters is true if offset is > 0 (right), but also if **last** is different from nil. This is not ok, because if I have a query with the parameter **first**, and o

[2018-03-05 16:37] matteosister commented on #108
if the previous issue is true, the same is valid for the has_next_page. If used with last instead of first it always returns false

[2018-03-20 08:02] ssbb commented on #108
@matteosister this is correct behavior regarding to Relay Cursor Connections specification. Not so usable if you want to create prev/next style pagination (and not just infinite scroll), but it's correct behavior I think.

https://facebook.github.io/relay/graphql/connections.htm#sec-undefined.PageInfo.Fields

[2018-03-20 13:21] matteosister commented on #108
ooook...thanks for the head up. I will rewrite the function in my own codebase because I need pagination.
Thanks!!!

[2018-03-20 13:21] #108 closed

[2018-03-26 03:31] ssomnoremac commented on #104
@chengyin do you still need assistance with this? If you are using Relay Modern[ my post](https://medium.com/entria/wrangling-the-client-store-with-the-relay-modern-updater-function-5c32149a71ac) explains how to update connections in the client store.

[2018-04-06 13:54] ndreynolds opened #111 "Update hasPreviousPage logic to match spec changes"
I noticed that currently `Connection.from_list/3` and `Connection.from_query/4` always return `has_previous_page: false` when paginating in the forward direction (without specifying `last`).  There's some explanation for it here:

https://github.com/absinthe-graphql/absinthe_relay/blob/6c2f5aaa6b6adec831cdd0f1f0180e5fa8693678/lib/absinthe/relay/connection.ex#L287-L290

Looking at the spec, it seem

[2018-04-07 20:49] bruce commented on #111
We’d definitely be interested in a PR to handle these changes. Please let us know if we can help!

[2018-04-08 21:56] jwaldrip opened #112 "Issue with schema generation"
I am getting the following error when trying to generate the schema.

[code]

[2018-04-12 19:32] BenoitHiller opened #113 "Connection offset and limit computation doesn't handle nil correctly"
`Absinthe.Relay.Connection.offset_and_limit_for_query` doesn't ignore `nil` values for `first` and `last`. Note below that it returns an unexpected value.

    alias Absinthe.Relay.Connection
    Connection.offset_and_limit_for_query(
      %{
        before: Connection.offset_to_cursor(10),
        last: 10,
        after: nil
      },
      %{}
    ) == {:ok, 10, nil}

    Connection.offset_and_

[2018-04-12 23:25] bruce commented on #113
Thanks @BenoitHiller; we'll look at this after taking care of some related work in that area in #110.

[2018-04-29 16:58] jeroenvisser101 commented on #48
@bruce is it possible to extend pageInfo and add the count there?

[2018-05-09 18:05] #111 closed

[2018-08-16 11:17] Rodeoclash commented on #107
Just got bitten by this as well. If it's possible to make connections non null-able, it's not too clear how to do so from the documentation. @davidye did you manage to solve in the end? I'd like to see your solution if you found one.

[2018-09-12 10:50] maennchen opened #122 "Usage of ParseIDs Middleware in Subscription"
When trying to use the `Absinthe.Relay.Node.ParseIDs` middleware for arguments in subscriptions, the following error is thrown.

[code]

If you're interested I could build a PR to solve the issue.

[2018-09-12 12:42] benwilson512 commented on #122
Right, this is a good question.

Here's the issue generally: Right now middleware doesn't work with subscription `config` at all. The reason is simple: Middleware runs during the resolution phase, but subscription documents don't run resolution on setup, they run resolution on publication.

 Your specific error message is a slightly different problem, this happens because you've added middleware t

[2018-09-12 13:38] benwilson512 commented on #113
This looks to have been addressed in that PR.

[2018-09-12 13:38] #113 closed

[2018-09-26 03:04] #112 closed

[2018-09-26 03:05] #104 closed

[2018-10-15 08:54] tmattio commented on #100
@benwilson512 The PR implementing a WINDOW function has been merged in Ecto. Would it make sense to reopen this issue?

[2018-11-11 22:47] amrnt commented on #101
A year later! I have the same issue with setting up `totalCount` on the connection:

`parent` in this case is the whole connection object, then I think we need to fetch parent of parent, or?

[code]

maybe @benwilson512 has any comment on this?

[2018-12-18 03:56] milmazz opened #128 "Connection.from_dataloader/5 helper?"
I recently started using this module, and I was a bit surprised when I didn't find a helper using `Dataloader`, something analogous to `Absinthe.Relay.Connection.from_query/4`.

I did some basic adaptations and seems to be working, but probably I'm missing something here.

[code]

Please let me know if you're interested on something like this, I can start working on a proper PR if you find this he

[2018-12-18 23:29] bgentry opened #130 "Absinthe.Relay.Connection.Notation.connection/2 not defined"
On v1.4, with the following code inside my schema query, pulled directly from [the docs](https://hexdocs.pm/absinthe_relay/Absinthe.Relay.Connection.Notation.html#connection/3):

[code]

I get this error:

[code]

From a quick glance at [the relevant code](https://github.com/absinthe-graphql/absinthe_relay/blob/master/lib/absinthe/relay/connection/notation.ex#L101-L119), it appears that this macro

[2018-12-18 23:46] #130 closed

[2018-12-21 02:13] bgentry commented on #128
@milmazz as I understand it, your solution breaks when loading for many child associations at the same time because the limit and offset don’t get applied on a per-parent basis; they’re instead applied to all combined results.

Imagine you’re trying to load Articles along with `limit: 10` Comments on each article. You don’t want 10 total Comments, you want up to 10 for each Article. This is the ki

[2019-01-02 06:02] bgentry commented on #128
I was able to get a working implementation of Relay Connections with Dataloader that uses window functions to paginate individually for each parent. While it does work and already allows for some fairly simple reuse of a connection on multiple GraphQL objects, it's pretty ugly and tangled. I'm not sure if here or the Dataloader repo is the best place to post about this, so lmk if I should relocate

[2019-01-06 08:36] thezjy opened #133 "Absinthe.Relay.Connection.from_query may have wrong type"
Code:
[code]
After I add the `max` option, the code works correctly, but dialyzer gives a warning:

Maybe the type is wrong?

[2019-04-28 13:13] bucha commented on #48
@bruce GOLD! You just saved my Sunday!

[2019-05-06 03:19] ug0 commented on #48
In the [gist](https://gist.github.com/bruce/52b1528af5ce446eb24eae3cd32b6af7) example, the `count` is calculated every time no matter the client want the `count` field or not.

I wonder if it's a better idea to put only the `query` to the parent(items) result, and calculate the count at the `count` field level. For example:

[code]

[2019-05-10 18:34] lizziepaquette opened #138 "v1.5.0-alpha.0 doesn't support Ecto 3.0"
I saw you loosened the requirements for Ecto but have not cut a new release. I'd prefer to lock a version than to do `{:absinthe_relay, github: "absinthe-graphql/absinthe_relay"}`. Can you make a new release?

[2019-05-17 15:42] lizziepaquette commented on #138
Is the Ecto dependency even necessary? I couldn't find where it was used in code.

[2019-05-17 16:04] lizziepaquette commented on #138
I created a pr that removed Ecto and Poison from the list of dependencies: https://github.com/absinthe-graphql/absinthe_relay/pull/139

[2019-08-01 10:37] datafoo opened #142 "Dynamic value enclosing quotes use different characters in some error messages"
Is this normal that the opening quote character (\`) is different than the closing quote character (') surrounding `#{global_id}` in the following code extract (and some other places in the code)?

https://github.com/absinthe-graphql/absinthe_relay/blob/c3c85ca88adb8e925e846a515f75d93224b1f17d/lib/absinthe/relay/node/id_translator/base64.ex#L26

[2019-08-01 11:21] datafoo opened #143 "Benefits of returning a specific error message when ParseIDs fails?"
When the conversion from a global ID to a node’s type name and ID fails, I noticed that a specific error message is returned. It is nice to understand why it fails, in development.

Example of specific error messages:
- In argument \"input\": In field \"userId\": Could not extract value from decoded ID `\":2\"`
- In argument \"input\": In field \"userId\": Could not decode ID value `user#123'
- In

[2019-08-01 12:21] benwilson512 commented on #143
Useful errors is even more important in production than in development because developers have much less context in production than in development. If your error aggregation tool gives you a bunch of "invalid id" messages from production, you don't have a ton to go on. If you get specific error messages it's a lot more helpful.

None of this violates the opaqueness principle. Opaqueness isn't abou

[2019-08-01 12:53] datafoo commented on #143
Global IDs are generated by the server. Clients are not supposed to decipher, tamper or forge such IDs. So clients can only pass them back to the server as is.

In these conditions, what are the use cases where a server response with a message more specific than "invalid id" can be useful?

Sorry if I don't see the obvious.

[2019-08-01 12:56] datafoo commented on #142
If not, I could work on a PR to fix it.

[2019-08-01 13:24] benwilson512 commented on #143
Consider the mutation:
[code]

Suppose further the API supports ` { products { id name } }` and that the front end code has a bug such that it is passing an `id` it retrieved from the `products` query to the `updateUser` mutation.

Error messages as they exist today are extremely useful for detecting this kind of bug, because the server will inform the client that the `id` being passed in is the w

[2019-08-01 13:31] datafoo commented on #143
This bug would also be "detected" with a generic error message but the cause would indeed be easier to find with the specific message.
I understand better now. Thank you.

[2019-08-01 13:31] #143 closed

[2019-08-14 09:19] satom99 opened #145 "Invalid types are allowed to go through the node field's resolution"
When a properly encoded ID containing an invalid type is provided when
querying the node field, one of the defined node objects is queried at random
with the received encoded value. So the value returned by the translator is
ignored and because the type is invalid, a seemingly random type is queried.

An example could be to use the default Base64 translator and provide the
simple value `YTpi` as t

[2019-08-14 12:29] benwilson512 commented on #145
Can you show an example?

[2019-08-14 15:46] satom99 commented on #145
Sure thing, here's an [example repository](https://github.com/satom99/wine).

The following two possible queries are defined:

**Examples**
[code]
which is a simple connection returning the following response
[code]

**Node**
[code]
which returns the following data
[code]

---

Those are when specifying correct data. However, if we specify an invalid node ID:
[code]
the global ID translator is ret

[2019-08-14 15:48] benwilson512 commented on #145
Ah. The parse node ids middleware needs to set the resolution state. will handle.

[2019-08-14 17:10] benwilson512 commented on #145
@satom99 Ah, so the actual thing that's happening here is that the node field resolver doesn't actually use the parse ids middleware.

In any case, this is handled in the latest 1.5.0-beta.0 release.

[2019-08-14 17:10] #145 closed

[2019-08-14 19:42] satom99 commented on #145
Much appreciated @benwilson512! :blush:

[2019-08-28 09:36] satom99 commented on #145
As a followup, I'm trying to get that release to work but no success so far.

After updating the dependencies to the latest `1.5.0-beta.0` release, the
same project does not compile. I am guessing this has to do with the fact
that absinthe itself was undergoing a major refactor and could have broken
some of the stuff that was working in previous versions. I have no idea, so I
figured I would ask h

[2019-08-28 11:38] satom99 commented on #145
Sure thing! Note the repository is [the same](https://github.com/satom99/wine) as for the above and the dependencies are [these](https://github.com/satom99/wine/blob/86522280180e9bca788a14ecf306afe897326312/mix.exs#L29-L31).

The exact error trace would be the following:
[code]
And [this](https://github.com/satom99/wine/blob/86522280180e9bca788a14ecf306afe897326312/web/types/example.ex#L13) is the

[2019-09-10 17:51] mjquinlan2000 opened #147 "Edge Cursors nullable"
Is there a reason that Edge cursors are nullable now? We're getting compatibility check errors in our CI pipeline because the edge cursor definition has changed from `String!` to `String`

**Edit:**

I'm using `{:absinthe_relay, "1.5.0-beta.0"}`

[2019-09-10 21:00] mjquinlan2000 commented on #147
Nevermind. I was just checking the Relay docs and this is what the specification is

An “Edge Type” must contain a field called cursor. This field must return a type that serializes as a String; this may be a String, a Non‐Null wrapper around a String, a custom scalar that serializes as a String, or a Non‐Null wrapper around a custom scalar that serializes as a String.

Cursors can be nullable.

[2019-09-10 21:00] #147 closed

[2019-09-30 03:18] jfrolich opened #149 "non-null connections"
Would be nice to have connections objects to be non-null (I think they are never null) to have a slightly more correct schema definition, and prevent null checks in typed code.

[2019-09-30 03:19] jfrolich commented on #149
Sorry duplicate of #107!

[2019-09-30 03:19] #149 closed

[2019-09-30 03:23] jfrolich commented on #107
For clarification. It would be great to have the **connection object** to be at least non null (as it can never be null). And have an option for edges and nodes to be non-nullable, for the latter there is already a PR I believe.

[2019-10-06 15:23] satom99 commented on #145
Any update so far with regards to the issue above? @benwilson512 🙂

[2019-10-07 11:50] benwilson512 commented on #145
Hi @satom99 `node field` is not to be used for this purpose. `node field` creates the top level ` { node(id: "123") { ... on Example { id name } }` style field directly on the root query object. It does not take a `node_type` argument. Try removing `node_type` from your `node field` definition.

[2019-10-08 14:33] satom99 commented on #145
Hello @benwilson512. Removing `node_field` from the `node` call does not work.

Either way, it's worth noting that before updating to the beta branches, having
`node_type` worked without any compilation issues.

However, one of the issues we are noticing doing so is that sometimes the resolving node
does not correspond to the one defined. Per example, say we have two `node field` calls
for `fruit`

[2019-10-08 18:37] benwilson512 commented on #145
1.4 generally just ignored things that weren't in the right place, so that isn't necessarily an indicator that 1.5 is doing something wrong.

You can't define a field in two places. It's a single GraphQL field, you need to define it one place. If you want to split the logic up you of course can by having the resolver function dispatch to different things based on the type. The field itself however

[2019-12-30 12:46] susana-garcia opened #151 "Problem with backward pagination using Connection.from_query"
Fails trying **Connection.from_query** with args:
`%{after: nil, before: "YXJyYXljb25uZWN0aW9uOjE=", first: nil, last: 10}`

If I try instead with `%{before: "YXJyYXljb25uZWN0aW9uOjE=", last: 10}`, it works.

[2019-12-30 15:17] benwilson512 commented on #151
Hi @susana-garcia can you elaborate on what "fails" means? Do you get an exception? Does it simply not work?

[2019-12-30 15:52] susana-garcia commented on #151
@benwilson512 thanks for the quick answer and sorry for short description: I get this exception:

[code]

[2019-12-31 13:30] benwilson512 commented on #151
Please provide the output of the following:  `mix deps |grep absinthe`.

[2019-12-31 13:34] susana-garcia commented on #151
[code]

[2019-12-31 13:35] benwilson512 commented on #151
Yeah this line here https://github.com/absinthe-graphql/absinthe_relay/blob/master/lib/absinthe/relay/connection.ex#L528 should check for nil. I can push an update up but it'll come out as the 1.5 rc release since we're very close to releasing 1.5.

[2019-12-31 13:37] #138 closed

[2019-12-31 13:38] susana-garcia commented on #151
No rush, I made a workaround for now just deleting the nil values from the args. Thank you and Happy New Year!

[2020-01-22 23:55] hudon commented on #31
FWIW, I believe this is just one interpretation of that part of the spec... another way to read it is that the connection type must support either forward pagination or backwards or both so that the client has a way of requesting pagination, but the client is not forced to request pagination. The client can omit the pagination arguments and get the whole collection.
In fact, this is how https://gi

[2020-01-24 09:32] dotbear commented on #15
hey @skosch, I'm trying to get this to work, but my upsert is returning `null`. Am I returning the wrong value?

My return is

[code]

my return type is

[code]

[2020-01-29 03:04] AtithAlur opened #152 "Overriding cursor throws warning"
As per the documentation - https://hexdocs.pm/absinthe_relay/Absinthe.Relay.Connection.html
If we provide a `:cursor` argument then the value should override the internally generated cursor.
But, It's throwing a warning: `[warn] Ignoring additional cursor provided on edge (overriding is not allowed)`
And the warning is as per the code: https://github.com/absinthe-graphql/absinthe_relay/blob/643a9c

[2020-02-11 20:22] jrusso1020 commented on #151
@benwilson512 can I get any more insight into the timeline on this issue getting resolved? We just ran into this as well, but it's going to be kind of a pain to remove the nil values from args every where we use connections

[2020-02-21 00:41] bgentry opened #153 "[Absinthe v1.5.0-rc]: Connection default pagination args not configured"
After upgrading all Absinthe dependencies to the latest v1.5 RC (and Absinthe itself on [`master@1495a09c`](https://github.com/absinthe-graphql/absinthe/commit/a98ee70d6a00fe1954df935b2f0447f6818ae833), I see these errors on all Relay connections I have defined:

[code]

The connection definition is pretty simple for this connection:

[code]

Glancing at the schema output confirms that none of the

[2020-02-21 01:16] benwilson512 commented on #153
Hey @bgentry can you confirm that you're on the latest 1.5 Absinthe.Relay as well? What is the output of `mix deps|grep absinthe`?

[2020-02-21 02:35] bgentry commented on #153
Yes, I believe so @benwilson512 (unless something got released tonight):

[code]

[2020-02-21 17:59] bgentry commented on #153
@benwilson512 please lmk if this turns out to be difficult to reproduce in any way, I'm happy to help wherever I can! You can ping me on Elixir Slack too.

[2020-02-21 19:13] benwilson512 commented on #153
@bgentry if you have time to create a failing test case PR on Absinthe.Relay you'd definitely save me time. Otherwise I'll try to get a look at it this weekend.

[2020-02-21 22:42] jcelliott commented on #122
I just ran into this issue as well. It's easy enough to parse the global ID in the config function (or convert to a global ID in the trigger I guess), but it took me a few minutes to understand that the  middleware wasn't working. Perhaps adding a note in the moduledoc for `ParseID` would be worthwhile?

[2020-02-22 01:44] benwilson512 commented on #122
@jcelliott PR welcome for that note!

[2020-02-27 17:46] panmichal commented on #152
Looks like the possibility of overriding the default cursor was removed after a discussion: https://github.com/absinthe-graphql/absinthe_relay/pull/109#issuecomment-397938674

So perhaps outdated module doc.

[2020-03-06 18:46] michaelst opened #154 "Warning on creating node object"
When I define a node object I will get 4 warnings about the clause not matching. If I remove node from in front of object then the error goes away.

Current versions:
absinthe              1.5.0-rc.3
absinthe_plug         1.5.0-rc.2
absinthe_relay        1.5.0-rc.0

[code]

[code]

[code]

[2020-03-06 18:46] #154 closed

[2020-03-06 18:52] michaelst commented on #154
Realized after I created this issue that I had set the id field, which you shouldn't do on node objects. A better warning might be nice.

[2020-03-20 20:03] bgentry commented on #153
I have added a failing test case for this issue in #156. I believe it's because we're not using the full functionality of `absinthe_relay` and are instead using only the Connections implementation. This worked prior to the v1.5 series (on v1.4) but is broken in these RCs.

[2020-03-25 22:38] benwilson512 commented on #153
Solution: Include this line in your root schema:

[code]

[2020-03-25 22:39] #153 closed

[2020-03-27 20:29] bgentry commented on #153
@benwilson512 I got time to try this out today and I can confirm that it works! Thanks for sorting it out and correcting the documentation (and my test case) :v:

[2020-04-23 08:20] margusp2heathmont commented on #48
How to add totalCount to pageInfo?

[2020-05-22 12:16] SimunKaracic opened #159 "Absinthe.Relay.Connection.Options"
The default type t of `Absinthe.Relay.Connection.Options` is wrong.
Parameters after and before are not integers, they are `Connection.cursor()`s.

https://github.com/absinthe-graphql/absinthe_relay/blob/master/lib/absinthe/relay/connection.ex#L5-L10

I'll open up a PR with the proposed changes.

[2020-05-22 12:17] benwilson512 commented on #159
PR welcome!

[2020-05-22 12:20] SimunKaracic commented on #159
Additionally, the integers should probably be pos_integer(). I'll add that in too

[2020-05-22 14:14] benwilson512 commented on #159
Fixed by https://github.com/absinthe-graphql/absinthe_relay/pull/160

[2020-05-22 14:14] #159 closed

[2020-05-27 21:45] halostatue commented on #85
A bump on this one. I hit something today that I’d managed to avoid for almost three years…I’m generating Base64 URL encoding on the web side (because I do use these values in URLs) and while most of this is just fine…I hit a problem on the Elixir side that would be simplified by specifying `padding: false` in the default Relay ID _decoder_. Most of the URL unsafe strings currently come when you u

[2020-07-14 11:11] apellizzn opened #161 "Custom Cursor from external endpoint"
Hi,
I'am calling an external endpoint behind a connection which is already providing my a cursor based pagination, I would like to forward the cursor from the external api response to the Absinthe Connection.

Does this makes sense to you? If so is there a away to achieve this?

[2020-07-27 15:40] jacobparry opened #162 "Absinthe.Relay.Node.ParseIDs causes runtime error if occurs more than once in a mutation query"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v):
elixir         1.10.2
erlang         22.3.4.1

* Absinthe version (mix deps | grep absinthe):
absinthe (Hex package) (mix) locked at 1.5.2 (absinthe) 669c8487
absinthe_relay (Hex package) (mix) locked at 1.5.0 (absinthe_relay) 173cc44c
absinthe_sorting_codec 1.0.0 (Hex package) (mix) locked at 1.0.0

[2020-08-14 08:55] frekw opened #165 "Helpers for working with connections"
Hey!

These are some helpers that I often end up needing when working with Relay connections

[code]

would it make sense to integrate some additional helpers to make it easier to work with connections into `absinthe_relay`?

[2020-08-21 02:42] bravely commented on #154
Seconding this notion.

[2020-09-24 15:21] datafoo opened #166 "Breaking change in 1.5: Absinthe.Relay.Mutation.Notation.Modern.output/2"
Version 1.5 changed [`Absinthe.Relay.Mutation.Notation.Modern.output/1`](https://hexdocs.pm/absinthe_relay/1.4.6/Absinthe.Relay.Mutation.Notation.Modern.html#output/1) to [`Absinthe.Relay.Mutation.Notation.Modern.output/2`](https://hexdocs.pm/absinthe_relay/Absinthe.Relay.Mutation.Notation.Modern.html#output/2).

As detailed [here](https://elixirforum.com/t/how-to-extend-the-payload-output-macro-i

[2020-11-08 15:19] dolfinus opened #168 "Integration with Dataloader"
Hi.

I've tried to use both absinthe-relay (for pagination) and dataloader (for handling N+1 problem) in the same project.
But I haven't found some working way to combine them in the documentatio.

So I've impletented a simple helper module which allows to integrate these libraries wich each other:
https://github.com/dolfinus/arkenston-backend/blob/6a464931d75e01cfd7ee482dcf3315666933a563/lib/arke

[2020-11-08 15:21] benwilson512 commented on #168
Hey @dolfinus, thanks for these helpers. Until recently, this kind of integration wasn't possible because there wasn't an easy way for Ecto (and by extension dataloader) do unique limits for each parent. However now that Dataloader does support limits, this sort of thing can re-evaluated again.

[2020-11-16 09:42] cheerfulstoic commented on #48
I wanted to be able to do this more generally rather than needing to customize my `connection field ...` definitions everywhere.  So I created a middleware that does this:

https://gist.github.com/cheerfulstoic/4f676f0b5de42f3f5f60d06ae03c4dfc

I especially like how you have control over if it runs by choosing to return the `RelayConnectionLazyEvaluate.Value` struct or not for the field.  I think

[2020-11-25 23:28] dolfinus opened #171 "Warning about ecto dependency after upgrading Elixir to 1.11"
Hi.

I've upgraded Elixir in one of my projects to latest version (1.11) and got this warning during compilation step:
[code]

It looks like 3rd option is the case here.

[2020-11-30 08:24] woylie opened #172 "Node object from interface implementation results in duplicate ID"
I defined an interface like this:

[code]

And there's a connection:

[code]

And then I'm defining the concrete implementation as a node object like this. And since I don't want to copy all the fields including the resolver functions to every interface implementation, I'm using `import_fields` to import them from the interface.

[code]

And this basically works as expected when using the API. How

[2020-12-03 08:33] dolfinus commented on #172
I`ve got just the same error, resulting SDL looks like:
[code]

[2020-12-03 17:50] benwilson512 commented on #172
Honestly, I didn't realize people were using `import_fields` on interfaces. I can see how it is sometimes convenient but the moment you need a custom resolver things can get a bit weird. We can work to make `import_fields` deduplicate, but there are trade offs. The duplicate ID thing without an explicit `:id` field is weird, will look into it.

[2020-12-13 11:07] dolfinus commented on #171
Hi.

Any updates here?

[2020-12-28 07:03] ronaldcurtis commented on #152
I think there are some strong arguments for why we should have the ability to override cursors. Here is why:

1. We could be interfacing with external services that use their own cursors. (This issue has already been raised at https://github.com/absinthe-graphql/absinthe_relay/issues/161)
2. Currently the `cursors` in this package just encode the `OFFSET` and `OFFSET + LIMIT`. But we may not want

[2020-12-29 19:51] #152 closed

[2021-01-19 22:57] mjquinlan2000 opened #175 "ParseIDs middleware cannot find schema_node on subsequent `input` field"
I believe that we have encountered a bug with the ParseIDs middleware and it may be related to #72

I have a definition that roughly mirrors this:

[code]

When I call the node query with posts there are no problems:

[code]

The problem I am seeing happens when I use the `updatePost` mutation and then resolve the Post.comments connection like so:

[code]

I get an error returned that states:

[co

[2021-01-27 22:32] #171 closed

[2021-02-01 08:27] dolfinus opened #179 "Release new version"
Hi.

What do you think about releasing new version of absinthe_relay? The last one was released on May 2020, and a bunch of new bugfixes/features has ben added into the master branch since when.

[2021-02-10 08:11] dolfinus commented on #179
@benwilson512 Could you please take a look at this?

[2021-02-10 08:56] benwilson512 commented on #179
v1.5.1 published, thanks!

[2021-02-10 08:56] #179 closed

[2021-03-05 11:44] HangingClowns commented on #168
hi @benwilson512 circling back from our conversation on slack. I'm trying to think about how we can do this in a good way. Here's my idea:

`import Absinthe.Relay.Resolution.Helpers, only: [dataloader: 1]`

then for the type:
[code]

I think the most difficult part is trying to get the sorting correct, so we may consider the above OR maybe rely on the dataloader source to specify the sort?

[2021-03-06 01:50] woylie commented on #168
I'm using both Absinthe Relay and Dataloader in a project as well, but haven't used Dataloader for Relay connection fields yet. In my case, I'd require the sorting to be handled by the query function of the Dataloader source, without the need to specify the order as in the code example above (potentially taking the sort field/order from query arguments).

[2021-03-06 10:57] dolfinus commented on #168
IMHO, sorting should be handled by a query function, because some of users could want to pass ordering as an argument. There should be no hard coded values.

[2021-03-07 05:05] benwilson512 commented on #168
Agreed about sorting. @HangingClowns I guess I'm a bit confused by your example snippet. That code works today. The "integration with dataloader" part of this issue has to do with combining connection fields with dataloader. Using dataloader on node entities works just fine already.

[2021-03-07 12:36] HangingClowns commented on #168
hi @benwilson512 from what I understand, paginating the data using relay doesnt' work? hence i was thinking we can do this: `import Absinthe.Relay.Resolution.Helpers, only: [dataloader: 1]`, notice how it's importing from Absinthe.Relay INSTEAD of just Absinthe. Maybe the name is too ambiguous, though?

[2021-03-24 16:05] datafoo opened #185 "Feature request: use of non-binary id"
I have coded a custom [`global_id_translator`](https://hexdocs.pm/absinthe_relay/Absinthe.Relay.Node.IDTranslator.html) to convert a local ID consisting of a unique integer or a tuple of integers into a global ID.

However, I later realized that using the translator does not work because the ID fetcher tries to coerces my local ID to a binary and it obviously fails when my ID is a tuple:

Is there

[2021-03-24 16:58] benwilson512 commented on #185
Normalizing to a string by default helps ensure that equality comparisons between parsed global ids and fetched native ids work correctly. If you have a global id that is functionally `Base.encode64("Foo:123")` and you decode it, that `123` is gonna come out `"123"`.

That is, at least, my recollection, it's been a very long time since some of this was written. Given that it's all configurable, is

[2021-03-24 17:13] datafoo commented on #185
What do you refer as configurable here?

I could use strings for my local IDs in the form "1.2" instead of tuple {1, 2} in the lower levels of my application but it makes my work a bit more tedious. For example, I lose the ability to pattern match a tuple to quickly access the individual values. So, no it is not a blocker but it requires quite some rewrite in my code.

[2021-03-25 08:14] datafoo commented on #185
Implementing the following custom ID fetcher was way simpler that re-writing my lower-level code.
[code]
Do you see anything wrong with doing that?

[2021-03-25 15:00] benwilson512 commented on #185
Nope that looks perfect, and that is exactly what I mean by it being customizable. The default is setup to create some equality properties but if you're using novel id types then reconfiguring the id fetcher is likely worth while.

[2021-03-25 15:00] #185 closed

[2021-04-13 20:24] joaopaulobdac opened #186 "Converting internal ecto foreign key ids to global ids"
Using the `node` macro you can convert the `:id` field to a global id, but how do you deal with relation field ids?
For example, when querying a schema with this node object:

[code]

[code]

[2021-04-16 11:26] mkaput opened #187 "config Absinthe.Relay causes warnings"
When configuring Absinthe.Relay (e.g. setting custom ID translator):

[code]

Mix yells with following warning:

[code]

Would it be possible to remove it? Thanks! 😄

[2021-04-16 15:01] benwilson512 commented on #187
Ah, yeah Absinthe.Relay is using a non standard configuration pattern there, we should fix it. Honestly this ought to be set as like a module attribute on the schema or something and not in config.

[2021-05-18 20:56] mkaput commented on #187
ok, I changed my code to pass `global_id_translator` as `use Absinthe.Schema` argument and let it read the value from custom config parameter.

I assume it may be better then to reword this issue as *deprecate `config Absinthe.Relay`*, isn't it? If so, I'm leaving the state of the issue to you

[2021-07-08 15:13] joaopaulobdac commented on #186
If anyone else also have this issue, you can solve it like this:

[code]

I have to do this for every relation field, so if there's a shorter way to do this please let me know!

[2021-07-08 15:13] #186 closed

[2021-07-30 08:04] Menkir opened #190 "Why using offset-based pagination in Connection.from_query?"
Hey guys.
Why is the offset queried for `Connection.from_query` instead of using the where clause for a cursor ? For very large tables the runtime increases linearly because we have to skip the offset every time we want to iterate quickly through the table.

Perhaps I have not quite understood something here. I will be glad if you enlighten me :)

cheers

[2021-07-30 16:15] benwilson512 commented on #190
@Menkir The Connection helper functions are designed to allow anyone to get going easily, while also providing ways to customize how things work by using `from_slice`.

`from_query` uses offset based pagination because it's the only form of pagination that is guaranteed to work for every user without assumptions about how their data works. It is expected that as users take on more advanced use cas

[2021-07-30 16:15] #190 closed

[2021-11-09 15:22] #107 closed

[2021-12-31 06:02] chengyin opened #192 "Include complexity support in connection notation"
In Absinthe's complexity analysis [doc](https://hexdocs.pm/absinthe/complexity-analysis.html#complexity-analysis), there is an example of calculating complexity based on the list size with the `limit` parameter. This is directly related to Relay's pagination args. Should `complexity` be automatically provided with `connection field` notation?

[2022-01-03 13:07] benwilson512 commented on #192
There is no good way to do this without making guesses about how you fetch data. A simple linear multiplication is only correct if you don't use batching.

[2022-01-03 13:07] #192 closed

[2022-01-11 19:30] SophisticaSean commented on #192
thanks for responding @benwilson512 I'm a bit of a Absinthe Relay noob so I was wondering how I can manually support complexity analysis using Absinthe Relay. I have a possible DOS scenario where a bad client can ask for a very gnarly n+1 query on an absithe relay connection and I'm wondering how to properly thwart it.

[2022-01-11 21:25] SophisticaSean commented on #192
I've experimented with this some more and it seems no matter where I add complexity it isn't calculated/persisted properly through absinthe_relay nodes/edges. Do you have any suggestions? Here's an example query I want to curtail based on complexity:

[code]

[2022-01-11 21:26] SophisticaSean commented on #192
In the long term we can look at fixing the cyclic nature of this node but that's going to take some time so I was wondering if there's an interim solution.

[2022-01-12 00:42] benwilson512 commented on #192
@SophisticaSean if it doesn't seem like complexity with connections is working at all then please definitely open a new issue about that specifically, ideally with a runnable example.

[2022-01-12 03:17] chengyin commented on #192
In my experience `complexity` macro works in `connection field` blocks just like shown in the [doc](https://hexdocs.pm/absinthe/complexity-analysis.html#complexity-analysis). I thought it didn't work at first but I didn't have `analyze_complexity: true` turned on.

---

FYI @benwilson512 - I plan to wrap the absinthe connection macro with our own to add the linear multiplication. The goal for us i

[2022-01-12 17:26] SophisticaSean commented on #192
@chengyin That would be lovely and likely solve my issue as well.

@benwilson512 My specific problem is you can set a static complexity on a connection field but it doesn't extrapolate out properly to queries like the one I gave an example for above. I'm happy to open a new issue on it if that sounds good! Just didn't want to raise alarm if I was doing something incorrectly. :)

[2022-01-19 19:21] SophisticaSean commented on #192
Thanks for all your help on this guys. Turns out I needed to ensure linear multiplication at the abused field level to get this to work properly which felt counterintuitive.

[2022-01-19 19:38] benwilson512 commented on #192
Hey @SophisticaSean can you show an example of what you mean for any future users?

[2022-01-19 23:59] SophisticaSean commented on #192
Happy to:

So, on a connection field, say you fetch 1 item. Query:

[code]

By default the complexity will be something like this: `[info] Graphql Query complexity: 8`

Ok, this query complexity is of value 8, what if we ask for 100 transactions, it should be 800 right?

 Query:
[code]

The complexity result is: `[info] Graphql Query complexity: 8`
Even though we fetched 100x more items, the compl

[2022-01-20 00:23] benwilson512 commented on #192
This is a very very thorough post, thank you so much for taking the time. Definitely this is something I think that could be done as an addendum to the Complexity guide.

[2022-01-20 00:29] SophisticaSean commented on #192
@benwilson512 thank you! glad to help. I'm happy to make that change, would you recommend that go in absithe-graphql main repo or in relay? :)

[2022-01-20 12:47] benwilson512 commented on #192
@SophisticaSean I think the main complexity guide. Some of this is relay specific, but ultimately I think the ideas are applicable for any pagination style solution that allows recursion whether relay or not.

[2022-02-26 23:39] anthonator opened #195 "New release"
Would it be possible to get a new release? #194 fixes Ci issues in `master`.

[2022-03-15 13:51] martasd commented on #48
There's an example about how to do this in the Absinthe.Relay docs: https://hexdocs.pm/absinthe_relay/Absinthe.Relay.Connection.html#module-customizing-types

[2022-03-15 19:40] kdawgwilk commented on #195
there are a few changes in master that are not released that would be nice to get https://github.com/absinthe-graphql/absinthe_relay/compare/v1.5.1...master including loosening up the absinthe version requirements to allow absinthe 1.7.0

[2022-03-22 08:06] jtomaszewski commented on #195
Just checked commit log. The only changes that need documenting in the new release are:

- https://github.com/absinthe-graphql/absinthe_relay/commit/8d20d548e80d263f647087020f0dbde5499ffcc3
- https://github.com/absinthe-graphql/absinthe_relay/pull/193

all the other commits that went since the last release (1.5.1) are just CI/docs changes.

@benwilson512 , could we ask for your 5 minutes on this?

[2022-03-22 12:01] benwilson512 commented on #195
Done.

[2022-03-22 12:01] #195 closed

[2022-03-23 03:33] woylie opened #196 "changelog"
The changelog hasn't been updated since version 1.4.4. It would be great if it was updated with each release.

[2022-03-23 03:36] benwilson512 commented on #196
Noted going forward.

[2022-03-23 03:36] #196 closed

[2022-04-19 09:13] HangingClowns opened #198 "Absinthe.Resolution.project/1 for child fields"
Hi, I ran into an issue where I wanted to selectively apply some joins based on if some child fields were included within the top level query of an edge's node (I think that's the proper term/order?)

I have a field like so:
[code]

It would be great if I can somehow check for the `sumOfChildData` from the resolution to see what fields from my node is required, then I can selectively query for the

[2022-04-19 12:12] benwilson512 commented on #198
Hey @HangingClowns the general solution here is to recursively call project on the fields returned from your initial `project`. Do note that if you end up using abstract types this may get challenging to do in the general case.

[2022-04-19 12:12] #198 closed

[2022-04-19 12:14] HangingClowns commented on #198
Hi @benwilson512 ! Thanks for the reply, so you mean I would do:

[code]

?

[2022-04-19 12:15] benwilson512 commented on #198
Hey @HangingClowns do you mind asking this on the forums? The issue tracker is really aimed at issues or bugs, not general questions. The forum has better long term visibility.

[2022-11-29 13:22] kasvith commented on #48
This gives an error with dializer